Django==5.2.4
pandas==2.3.1
django_pandas==0.6.7
requests==2.32.4
django4-cron==0.5.1
persiantools==5.3.0
beautifulsoup4==4.13.4
stockstats==0.6.5
getuseragent==0.0.7
matplotlib==3.10.3
numpy==2.3.1
python-bidi==0.6.6
arabic-reshaper==3.0.0
cycler==0.12.1
textdistance==4.6.3
cachetools==6.1.0
tenacity==9.1.2
openpyxl==3.1.5
