Django==3.1.6
pandas==1.2.2
django_pandas==0.6.4
requests==2.25.1
django_cron==0.5.1
persiantools==2.0.0
retry==0.9.2
beautifulsoup4==4.9.3
stockstats==0.3.2
pytz==2021.1
fake-useragent==0.1.11
matplotlib==3.3.4
numpy==1.20.1
python-bidi==0.4.2
arabic-reshaper==2.1.1
cycler==0.10.0
textdistance==4.2.1
signalr-client==0.0.7
cachetools==4.2.1
xlrd==1.2.0
